<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4>Show all Office employees</h4>
<div class="col-12">
    <h3 th:unless="${officeEmployees} and ${officeEmployees.size()}">There are no office employees!</h3>
    <table th:if="${officeEmployees.size()>0}" class="table table-hover">
        <th>Id</th>
        <th>Egn</th>
        <th>First name</th>
        <th>Middle name</th>
        <th>Last name</th>
        <th>Employee id</th>
        <th>Salary</th>
        <th>Date of employ</th>
        <th>Office</th>
        <th>Currently employee</th>
        <th sec:authorize="hasAnyAuthority('ADMIN')">Edit</th>
        <th sec:authorize="hasAnyAuthority('ADMIN')">Delete</th>
        <tr th:each="officeEmployee : ${officeEmployees}">
            <td th:text="${officeEmployee.id}"></td>
            <td th:text="${officeEmployee.egn}"></td>
            <td th:text="${officeEmployee.firstName}"></td>
            <td th:text="${officeEmployee.middleName}"></td>
            <td th:text="${officeEmployee.lastName}"></td>
            <td th:text="${officeEmployee.employeeId}"></td>
            <td th:text="${officeEmployee.salary}"></td>
            <td th:text="${officeEmployee.dateOfEmploy}"></td>
            <td th:text="${officeEmployee.getOffice() ne null and officeEmployee.getOffice().getOfficeAddress() ne null} ? ${officeEmployee.getOffice().getOfficeAddress().city + ', ' + officeEmployee.getOffice().getOfficeAddress().street + ', ' + officeEmployee.getOffice().getOfficeAddress().streetNum} : ''"></td>
            <td th:text="${officeEmployee.getCurrentEmployee() ? 'Yes' : 'No'}"></td>
            <td sec:authorize="hasAnyAuthority('ADMIN')">
                <a class="btn btn-info" th:href="@{'/office-employees/edit-office-employee/'+${officeEmployee.id}}">Edit</a>
            </td>
            <td sec:authorize="hasAnyAuthority('ADMIN')">
                <a class="btn btn-danger" th:href="@{'/office-employees/'+${officeEmployee.id} + '/remove'}">Delete</a>
            </td>
        </tr>
    </table>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>