<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4>Process shipment</h4>
<div class="col-12">
    <div style="max-height: 400px; overflow-y: auto;">
        <table class="table table-hover" style="width: 100vw;">
            <th>Id</th>
            <th>Shipment id</th>
            <th>Sender's first name</th>
            <th>Sender's last name</th>
            <th>Sender's organization name</th>
            <th>Sender's tel</th>
            <th>Recipient's first name</th>
            <th>Recipient's last name</th>
            <th>Recipient's organization name</th>
            <th>Recipient's tel</th>
            <th>Departure point</th>
            <th>Arrival point</th>
            <th>Address of departure</th>
            <th>Address of arrival</th>
            <th>Weight</th>
            <th>Registrant employee</th>
            <th>Processed by employee</th>
            <th>State</th>
            <th>Delivered time</th>
            <tr>
                <td th:text="${shipment.id}"></td>
                <td th:text="${shipment.externalId}"></td>
                <td th:text="${shipment.getSender().firstName}"></td>
                <td th:text="${shipment.getSender().lastName}"></td>
                <td th:text="${shipment.getSender().organizationName}"></td>
                <td th:text="${shipment.getSender().telephone}"></td>
                <td th:text="${shipment.getRecipient().firstName}"></td>
                <td th:text="${shipment.getRecipient().lastName}"></td>
                <td th:text="${shipment.getRecipient().organizationName}"></td>
                <td th:text="${shipment.getRecipient().telephone}"></td>
                <td th:text="${shipment.departurePoint}"></td>
                <td th:text="${shipment.arrivalPoint}"></td>
                <td th:text="${shipment.getDepartureAddress().city + ', '
                         + shipment.getDepartureAddress().street + ', N'
                         + shipment.getDepartureAddress().streetNum}"></td>
                <td th:text="${shipment.getArrivalAddress().city + ', '
                         + shipment.getArrivalAddress().street + ', N'
                         + shipment.getArrivalAddress().streetNum}"></td>
                <td th:text="${shipment.weight}"></td>
                <td th:text="${shipment.registrantEmployeeId}"></td>
                <td th:text="${shipment.processedByEmployeeId}"></td>
                <td th:text="${shipment.shipmentState}"></td>
                <td th:text="${shipment.deliveredDateTime}"></td>
            </tr>
        </table>
    </div>

    <form action="#" th:action="@{/shipments/process/{id}(id=${id})}" th:object="${processShipment}" method="post">
        <div class="container">
            <input class="form-control mt-4" type="text" th:field="*{weight}" placeholder="Weight" id="weight">
            <span class="text-danger" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}">Weight field has error</span>
            <input class="form-control mt-4" type="text" th:field="*{processedByEmployeeId}"
                   placeholder="Processed by employee id" id="processedByEmployeeId">
            <span class="text-danger" th:if="${#fields.hasErrors('processedByEmployeeId')}"
                  th:errors="*{processedByEmployeeId}">Employee field has error</span>
        </div>
        <button type="submit" class="btn btn-primary">Process</button>
    </form>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
